:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 50px;
  border: 1px solid transparent;
  padding: 0.6em ;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}



/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.record-label {
  display: flex;
  align-items: center;
  max-width: 300px;
  min-width: 300px;
  justify-content: space-evenly;
}

.box-shadow-ripples {
  height: 100px;
  width: 100px;
  border: 3px solid transparent;
  border-radius: 50%;
  background: url(https://web.opendrive.com/api/v1/download/file.json/NTlfMTQxMjc1MzJf?inline=1);
  background-size: cover;
  position: relative;
  background-color: #2a2a2a;
  transition: all 200ms ease-in-out;
  margin: 64px 0 64px 0;
}

.box-shadow-ripples:hover {
  box-shadow: 0 0 16px rgba(255, 255, 255, 0.5);
  transition: all 200ms ease-in-out;
}

.box-shadow-ripples:before {
  position: absolute;
  content: "";
  top: -3px;
  bottom: -3px;
  left: -3px;
  right: -3px;
  border-radius: 50%;
  box-shadow: 0 0 rgba(63, 255, 255, 0.4), 0 0 0 16px rgba(126, 255, 255, 0.4),
    0 0 0 32px rgba(189, 255, 255, 0.4), 0 0 0 48px rgba(255, 213, 255, 0.4);
  z-index: -1;
  animation: ripples 1s linear infinite;
  animation-play-state: paused;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  transform: scale(0.5);
}

.box-shadow-ripples:active::before {
  animation-play-state: running;
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}


@keyframes ripples {
  to {
    box-shadow: 0 0 0 16px rgba(63, 255, 255, 0.4), 0 0 0 32px rgba(126, 255, 255, 0.4),
      0 0 0 48px rgba(189, 255, 255, 0.4), 0 0 0 64px rgba(255, 255, 255, 0);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prompt-resp {
  font-weight: bolder;
}

.top-bar {
  display: flex;
  align-items: center;
}

.btn-reset {
  background-color: transparent;
}